<app-navbar></app-navbar>
<form class="form-horizontal form-material"
      (ngSubmit)="localAgregar(form)"
      #form="ngForm">

      <div class="container text-center">
        <div class="row">
          <div class="col-sm-7">
            <div class="container text-center margen border border-success p-2 mb-2 border-opacity-25 borde shadow">
              <div class="titulo">
                  <h2>Registrar Cliente</h2>
              </div>
              <div class="row row-cols-9">
              <div class="mb-3 row form-group">
                  <label for="inputPassword" class="col-sm-2 col-form-label colorlabel">Nombre</label>
                  <div class="col-sm-8">
                    <input type="text"
                    [(ngModel)]="cli.nombre" 
                    name="nombre"
                    class="form-control" 
                    id="inputPassword">
                  </div>
                </div>
                <div class="mb-3 row form-group">
                  <label for="inputPassword" class="col-sm-2 col-form-label colorlabel">Apellidos</label>
                  <div class="col-sm-8">
                    <input type="text"
                    [(ngModel)]="cli.apellidos" 
                    name="apellidos"
                    class="form-control" 
                    id="inputPassword">
                  </div>
                </div>
                <div class="mb-3 row form-group">
                  <label for="inputPassword" class="col-sm-2 col-form-label colorlabel">Telefono</label>
                  <div class="col-sm-8">
                    <input type="number"
                    [(ngModel)]="cli.telefono" 
                    name="telefono"
                    class="form-control" 
                    id="inputPassword">
                  </div>
                </div>
                <div class="mb-3 row form-group">
                  <label for="inputPassword" class="col-sm-2 col-form-label colorlabel">Correo</label>
                  <div class="col-sm-8">
                    <input type="email"
                    [(ngModel)]="cli.correo" 
                    name="correo"
                    class="form-control" 
                    id="inputPassword">
                  </div>
                </div>
                <!-- <div class="mb-3 row form-group">
                  <label for="inputPassword" class="col-sm-2 col-form-label colorlabel">Fecha de pago mensual</label>
                  <div class="col-sm-8">
                    <input type="date"
                    [(ngModel)]="cli.fechapago" 
                    name="fechadepago"
                    class="form-control" 
                    id="inputPassword">
                  </div>
                </div> -->
              </div>
            
            </div>
          </div>

          <div class="col-sm-5">
            <div class="container text-center margen border border-success p-2 mb-2 border-opacity-25 borde shadow">
              <div class="titulo">
                  <h2>Local rentado</h2>
              </div>
              <div class="row row-cols">
              <div class="mb-3 row form-group">
                  <label for="inputPassword" class="col-sm-2 col-form-label colorlabel">Nombre de local</label>
                  <div class="col-sm-6">
                    <select class="form-select" [(ngModel)]="cli.locales_id" name="locales_id">
                      <option selected>Seleccionar</option>
                      <option *ngFor="let locals of listLoc" value="{{ locals.id }}">{{ locals.nombrelocal }}</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 row form-group">
                  <label for="inputPassword" class="col-sm-2 col-form-label colorlabel">Inicio de renta</label>
                  <div class="col-sm-6">
                    <input
                    type="date"
                    name="fechainiciorenta"
                    [(ngModel)]="cli.fechainiciorenta" 
                    class="form-control" 
                    id="inputPassword">
                  </div>
                </div>
                <div class="mb-3 row form-group">
                  <label for="inputPassword" class="col-sm-2 col-form-label colorlabel">Dia de salida</label>
                  <div class="col-sm-6">
                    <input type="date"
                    name="fechasalida"
                    [(ngModel)]="cli.fechasalida" 
                    class="form-control" 
                    id="inputPassword">
                  </div>
                </div>
                <div class="mb-3 row form-group">
                  <label for="inputPassword" class="col-sm-2 col-form-label colorlabel">Dias en renta</label>
                  <div class="col-sm-6">
                    <input type="text"
                    name="diasrentados"
                    [(ngModel)]="cli.diasrentados" 
                    class="form-control" 
                    id="inputPassword">
                  </div>
                </div>
                <div class="mb-3 row form-group">
                  <label for="inputPassword" class="col-sm-2 col-form-label colorlabel">Total de renta</label>
                  <div class="col-sm-6">
                    <input type="number"
                    name="totalrenta"
                    [(ngModel)]="cli.totalrenta" 
                    class="form-control" 
                    id="inputPassword">
                  </div>
                </div>
              </div>
              <div class="mover text-end espacio">
                <button class="btn btn-block btn-rounded ov-btn-grow-skew-reverse" type="submit">
                  <i class="bi bi-check-circle espacio"></i>
                  Agregar</button>
              </div>
            </div>
          </div>
        </div>
       
      </div>

</form>

 