<app-navbar></app-navbar>


<div class="container margen text-center border border-success p-2 mb-2 border-opacity-25 borde shadow">
  <div class="form-group searchColor">
    <input type="text" class="form-control colorbarrabusq"  style="margin-left: 60%;" name="filterPost" placeholder="Buscar..." [(ngModel)]="filterPost">
  </div>
 
   <br>
    <table
        id="demo-foo-addrow"
        class="table table-hover fondo borde"
        data-page-size="10"
        *ngIf="!cargando && local.length > 0">
      <thead class="table colortabla">
        <tr>
          <th class="orden" (click)="ordenar('id')">Id<i class="bi bi-arrow-down-up"></i></th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio por dia</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i = index;
        let local of local | orderBy: order : reversa: true
        | busqueda:filterPost
        | paginate: { itemsPerPage: 10, currentPage: pageActual }">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ local.nombrelocal }}</td>
          <td><p>{{ local.descripcion }}</p></td>
          <td>{{ local.preciodia | currency:'USD':true}}</td>
          <td>
            <button (click)="borrar(local.id)"
             style="margin-right: 5%;">
            <i class="bi bi-trash3 iconcolor"></i>
            </button>

            <button routerLink="/editlocales/{{ local.id }}" >
            <i class="bi bi-pencil iconcolor"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls
                     previousLabel="Anterior"
                     nextLabel="Siguiente"></pagination-controls>


    <div
        class="alert alert-warning text-center mt-3 animated fadeIn fast"
        *ngIf="!cargando && local.length == 0"
      >
        <h4 class="alert-heading">No hay registros</h4>
        <p>
          <i class="fa fa-exclamation fa-2x"></i>
        </p>
      </div>
      <div
        *ngIf="cargando"
        class="alert text-center mt-3 animated fadeIn fast"
      >
        <h5 class="alert-heading">Cargando...</h5>
        <p>
          <i class="fa fa-circle-o-notch"></i>
        </p>
        <p class="mb-0">Espere por favor</p>
      </div>
</div>


